[submodule "mempalace"]
	path = mempalace
	url = https://github.com/milla-jovovich/mempalace.git
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
